@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
  .contant_box_404{ margin-top:-50px;}
  
  .center-box{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1 !important;
    margin:auto;
    height:450px;
    width:800px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
    text-align:center;
    overflow-y: auto;
}
.homepage-slider{
  max-height: 345px;
  overflow: hidden;
  
}
.texto{
  text-align: justify;
  color:#A1B1BC;
  font-size: small;
  max-height: 300px;
  overflow-y: scroll;
overflow-x: hidden;
}

.texto3{
  text-align: justify;
  color:#A1B1BC;
  font-size: small;
 
}

.titulo h2{
  font-size: medium;
}


#scrolltopoleo::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#scrolltopoleo::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#scrolltopoleo::-webkit-scrollbar-thumb
{
	background-color: #000000;
}


.scrolltopoleo::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scrolltopoleo::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.scrolltopoleo::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
.texto p{
  width: 90%;
}

.textobullet{
  text-align: justify;
  color:#A1B1BC;
  font-size: small;
  max-height: 100px;
  overflow-y: scroll;
overflow-x: hidden;
}

.card-header{
  max-height: 40px;
}


.thumbs-wrapper{
  display:none;
}

.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 12px;
    border: 1px solid #5e5e5e;
    border-radius: 0;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
    background: #333333;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    font-family: inherit;
    padding: 0 10px;
    text-decoration: none;
    -moz-transition: color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
    -ms-transition: color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
    -o-transition: color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
    -webkit-transition: color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
    transition: color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;

}
.filter-button:hover
{
    font-size: 12px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #5e5e5e;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 90%;
}

.gallery_product
{
    margin-bottom: 30px;
    float:left;
}

.gallery_product img
{
    width: 100%;
    cursor:pointer;
}

nav{
  border-top: 1px solid #ecf0f1;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);

}

.navbar-brand img{
  width: 70px;
}
.btn-link{
  color: #5e5e5e;
}
.btn-link ::hover{
  color: #5e5e5e;
}